/* Google Font import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 1px;
    margin: 1px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: darkolivegreen;
    font-family: 'Lato', sans-serif;
}

header {
    background-color: antiquewhite;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px;
    top: 0;
}

header a {
    text-decoration: none;
    color: darkolivegreen;
}

h1 {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

#navbar {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#navbar ul {
    
}

#navbar  li {
   margin-bottom: 1em;
}

#navbar a:hover {
    color: black;
}

/* navbar styles with dropdon toggle */
nav {
    position: absolute;
    background-color: antiquewhite;
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0 2px 2px;
    left: 0;
    display: none;
}

main {
    background-color: aqua;
    flex: 1 0 auto;
}

footer {
    background-color: bisque;
}